<a class="pokemon">
    <section class="pokemon__status">
    <h2>
        Bulbasaur
    </h2>

    <ul>
        <li>Glass</li>
        <li>Poison</li>
    </ul>
    </section>

    <section class="pokemon__image">
        <img src="" alt="Bulbasaur">
    </section>
</a>

<a class="pokemon">
    <section class="pokemon__status">
    <h2>
        Bulbasaur
    </h2>

    <ul>
        <li>Glass</li>
        <li>Poison</li>
    </ul>
    </section>

    <section class="pokemon__image">
        <img src="" alt="Bulbasaur">
    </section>
</a>