@import './sass/reset.scss';
@import './sass/variables.scss';
@import './sass/rem-calc.scss';

html{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}
main{
     width: rem-calc(600);
     margin: 0 auto;
     box-sizing: border-box;
}